{{ define "main" }}

<p>hello ryoma</p>
Tidak lengkap majlis itu tanpa tetamu.

Jejemput memudahkan tetamu anda untuk hadir ke majlis anda dengan bantuan kad jemputan online digital.

Fungsi kad jemputan online

Navigasi GPS / Waze

Simpan di kalender

RSVP / Respons Kehadiran

Jemputan tanpa had​

Soalan dan Jawapan

BOLEH TENGOK DESIGN SEBELUM BAYAR?
Boleh. Saya akan draftkan dahulu kad jemputan setelah terima borang tempahan. 

BOLEH UBAH KAD JEMPUTAN SELEPAS BAYAR?
Kenapa tidak, sudah semestinya!
Ini lah kelebihan kad digital! 

KAD JEMPUTAN DIGITAL INI APA?
Sebagai alternatif kepada kad kertas. Pelbagai kelebihan berbanding kad kertas konvensional.

BERAPA LAMA SIAP?
Siap dalam hari yang sama! Lagi cepat anda sediakan maklumat lagi cepat kad anda siap! 

DESAIN MACAM MANA?
Hantarkan sekali desain bersama tempahan jika ada. Sekiranya tiada saya akan menggunakan template yang sedia ada atau desain mengikut cita rasa anda

BERAPA SEKEPING?
Maaf, saya tidak menyediakan perkhidmatan print kad kertas. Saya hanya buat kad jemputan online / digital. QR code untuk di cetak kan sekali bersama akan saya beri sekiranya diminta.

Macam mana nak order?​
ISI BORANG
WHATSAPP
DESIGN DRAFT
SEMAK DESIGN
BAYARAN


Harga kad jemputan online
RM50 untuk setiap kad jemputan
Satu (1) link / URL khas
Jemputan tanpa had
Navigasi GPS / Waze
Simpan di kalender
Countdown timer
Butang Whatsapp
Butang telefon
QR code
RSVP

Contoh kad jemputan online
Harijadi
Walimatulurus
Lain-lain Majlis


Dah tak sabar nak ada kad jemputan online sendiri?
Isi borang untuk tempah sekarang!

Untuk sebarang pertanyaan
Atau kemusykilan sila hubungi saya melalui


Terdapat juga dalam Bahasa Inggeris dan lain bahasa
Also available in English and other language

{{ end }}